.referee-block {
  background: #fff;
  border: 1px solid #eaeaf0;
  padding: 0;
  border-radius: 6px;
  margin-top: 16px;
  transition: 0.3s;
  position: relative;
}

.referee-block:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  font-size: 14px;
  position: relative;
}

.custom-heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0px !important;
  padding-top: 24px;
  padding-left: 20px;
  margin-bottom: 7px;
  line-height: 1.2;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.short-info {
  font-size: 12px;
  color: #555;
  font-style: italic;
  padding-left: 20px;
}
.form-wrapper {
  padding: 24px;
}
.required-icon {
  color: #f85a5a;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  flex-direction: row;
  gap: 0 24px;
}
.col {
  flex: 1;
}
.input-label {
  font-size: 13px;
  font-weight: 600 !important;
  color: #333;
  margin-bottom: 3px;
}
.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  width: 100%;
  border: 1px solid #a2a6ac;
  height: 42px;
  border-radius: 6px;
  padding: 8px;
  background: #fff;
  cursor: text;
  transition: all 0.3s ease 0s, font-size 0s ease 0s, letter-spacing 0s ease 0s;
  white-space: nowrap;
  -webkit-text-fill-color: rgb(51, 51, 51);
  opacity: 1;
  overflow: hidden !important;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
  border: 1px solid rgb(128, 173, 255);
}
.input::placeholder {
  opacity: 0.5;
}
.position-relative {
  position: relative;
  width: 100%;
}
.phoneNumber-wrapper {
  display: flex;
  gap: 0 24px;
}
.warning-label {
  color: #f85a5a;
  font-size: 12px;
  display: none;
  margin-top: 5px;
}
