.app-container {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif !important;
  padding: 16px;
}
.button-wrapper {
  padding: 0;
  display: flex;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 12px 12px;
}
.button-card {
  width: 100%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}
.btn-luu {
  display: block;
  margin-left: 4px;
  margin-right: 0px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  padding: 0px 16px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: background-color 0.3s ease 0s;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  width: 140px;
  height: 40px;
  line-height: 20px;
  outline: none !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 125, 85) !important;
  border: 1px solid rgb(255, 125, 85) !important;
}
.btn-luu:hover {
  background-color: rgb(253, 99, 51) !important;
  border: 1px solid rgb(253, 99, 51) !important;
}

.cv-Download-container {
  width: 595px;
  margin-top: 50px;
  position: absolute;
  height: 842px;
  visibility: hidden;
}
.header-container {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header-title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 8px;
}
.header-desc {
  text-align: center;
}
.cv-menu-container {
  display: grid;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 497px);
  gap: 50px;
}
.cv-item {
  background-color: rgb(240, 242, 248);
  box-sizing: border-box;
  padding: 32px;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.cv-item:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.img-preview {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img-preview-wrapper {
  position: relative;
  background-color: green;
  width: 100%;
  height: 100%;
}
