.cv-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  margin: auto;
  display: grid;
  font-size: 10px;
  transition: transform 0.3s;
  box-shadow: none;
  grid-template-columns: 25% 75%;
  transition: transform 0.3s;
  box-shadow: none;
}
.cv-container:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.avatar-container {
  background-color: rgb(51, 59, 76);
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 50%;
  transform: translateY(-19px);
}
.introduction-container {
  background-color: rgb(233, 231, 234);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introduction-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 5px;
  position: absolute;
  width: 220px;
  height: 140px;
}
.name {
  width: 330px;
  display: flex;
  flex-direction: row;
}
.first {
  margin-right: 3px;
}
.first-name {
  font-size: 19px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.last-name {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  flex: 1;
  letter-spacing: 2px;
}
.position {
  display: flex;
  align-items: center;
  font-weight: 200;
  font-size: 11px;
  width: 100%;
  flex: 1;
}
.contact-wrapper {
  margin-top: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.phone-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.mail-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}
.overview-container {
  background-color: rgb(51, 59, 76);
  display: flex;
  width: 100%;
  min-height: 471px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp-container {
  background-color: rgb(233, 231, 234);
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}
.profile-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  width: 130px;
  color: white;
}
.profile-desc {
  font-weight: 200;
  color: white;
  font-size: 8px;
  width: 130px;
  overflow-wrap: break-word;
}
.ul {
  padding-left: 15px;
}
.li {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 5px;
}
.skill-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  width: 130px;
  color: white;
}
.skill-card {
  width: 100px;
  display: flex;
  flex-direction: column;
}
.skill-content {
  width: 100%;
}
.skill-progress-max {
  margin-top: 5px;
  background-color: #7895cb;
  width: 100%;
  height: 5px;
}
.language-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  width: 130px;
  color: white;
}
.exp-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.exp-title {
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.experiences {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 15px;
}
.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.exp-company-name {
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  flex: 1;
  margin-bottom: 3px;
}
.exp-position {
  font-size: 8px;
  flex: 1;
  margin-bottom: 3px;
}
.exp-desc {
  font-weight: 300;
  font-size: 10px;
  flex: 1;
}
.education-title {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.ref-name {
  font-size: 13px;
  font-weight: 600;
  flex: 1;
  margin-bottom: 3px;
}
.ref-position {
  font-size: 11px;
  font-weight: 400;
  flex: 1;
  margin-bottom: 3px;
}
.ref-contact-wrapper {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.icon {
  width: 12px;
  height: 14px;
  margin-right: 8px;
}
.mail-icon {
  transform: translateY(1px);
  width: 12px;
  height: 14px;
  margin-right: 8px;
}
